<div ng-controller="ShellController as vm">
  <header class="clearfix">
    <ht-top-nav navline="vm.navline"></ht-top-nav>
  </header>
  <section id="content" class="content">
    <div layout="row" flex>
      <div ng-include="'app/layout/sidebar.html'"></div>
      <md-content ui-view class="shuffle-animation md-padding" layout="column" flex>
      </md-content>
      <div ngplus-overlay ngplus-overlay-delay-in="50" ngplus-overlay-delay-out="700" ngplus-overlay-animation="dissolve-animation">
        <!-- <img src="images/busy.gif" /> -->
        <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
      </div>
    </div>
  </section>
</div>
