<div ng-controller="SidebarController as vm" layout="column">
  <md-sidenav when-done-animating="vm.sidebarReady()" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" style="height: 100vh;">
    <md-toolbar class="md-tall md-hue-2">
      <span flex></span>
      <div layout="column" class="md-toolbar-tools-bottom inset" ng-if="vm.user.loggedIn">
        <user-avatar></user-avatar>
        <span></span>
        <div>{{vm.user.username}}</div>
        <div>{{vm.user.email}}</div>
      </div>
      <div layout="column" class="md-toolbar-tools-bottom inset" ng-if="!vm.user.loggedIn">
        <user-avatar></user-avatar>
        <span></span>
        <div layout="row">
          <md-button ui-sref="signup" class="md-primary">Sign Up</md-button>
          <md-button ui-sref="login" class="md-primary">Login</md-button>
        </div>
      </div>
    </md-toolbar>
    <md-list>
      <md-item ng-repeat="r in vm.navRoutes">
        <a ui-sref="{{r.name}}">
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon icon="{{r.icon}}"></ng-md-icon>
            </div>
            <div class="inset" ng-bind-html="r.settings.content">{{r.name}}</div>
          </md-item-content>
        </a>
      </md-item>
      <!-- <md-divider></md-divider> -->
      <!-- <md-subheader>Management</md-subheader> -->
      <md-item ng-repeat="item in admin">
        <a>
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
            </div>
            <div class="inset">{{item.title}}
            </div>
          </md-item-content>
        </a>
      </md-item>
    </md-list>
  </md-sidenav>
</div>
